<button mat-raised-button color="primary" *ngIf="!receiver" (click)="onBackClick()">Back</button>
<button mat-raised-button color="primary" *ngIf="receiver" (click)="onLeaveNewChat()">Back</button>

<div *ngIf="!newChat && chat" class="wholeChat">
  <div *ngFor="let messenger of chat.messenger">
    <h2 *ngIf="messenger.id !== account?.id" class="userAccount" (click)="onUserClick()">@{{messenger.username}}</h2>
  </div>
  <div class="messageArea">
    Chat:
    <textarea class="textArea" [(ngModel)]="messageText"></textarea>
    <button mat-raised-button color="primary" (click)="onSendClick()">Send</button>
  </div>

  <div>
    <app-message *ngFor="let message of chat.messages"
                 [message]="message"
                 [account]="account"
    ></app-message>
  </div>
</div>

<div *ngIf="newChat ">
  <h2 class="userAccount" (click)="onUserClick()">@{{receiver?.username}}</h2>
  <div class="messageArea">
    Chat:
    <textarea class="textArea" [(ngModel)]="messageText"></textarea>
    <button mat-raised-button color="primary" (click)="onCreateChat()">Send</button>
  </div>
</div>
