<!--<div class="blogDisplay" (click)="onBlogDisplayClick()">-->
<!--  <h2>{{blogDisplay.title}}</h2>-->
<!--  <p>{{blogDisplay.author.firstname}} {{blogDisplay.author.lastname}}</p>-->
<!--</div>-->

<div class="blogNew">
  <div class="blogTop">
    <div id="blogUserInfo">
      <h2 class="blogCreated" id="creatorUser" (click)="onUserClick()">@{{blogDisplay.author.username}}</h2>
      <div class="blogCreated">{{blogDisplay.createdDate | date}}</div>
    </div>
    <div id="blogInteractions">
      <div class="blogCreated"> <mat-icon id="blogIcon">remove_red_eye</mat-icon>{{blogDisplay.viewerID.length}}</div>
    </div>
  </div>

  <div class="blogContent" (click)="onBlogDisplayClick()">
    <div class="blogText">
      <h1>{{blogDisplay.title}}</h1>
      <p id="blogBody">{{blogDisplay.body}}</p>
    </div>
    <div class="blogImages">

    </div>
  </div>
</div>
