.wholeComment{
  border-bottom: dimgrey solid 1px;
  border-top: dimgrey solid 1px;
  padding: 5px;
}
.commentHeader{
  display: flex;
  align-items: center;
}

.commentHeaderText{
  margin-right: 15px;
}

.commentBody{
  /*width: 100px;*/
  /*height: 400px;*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#commentField{
  width: 75%;
  max-width: 75%;
  min-width: 75%;
  height: 60px;
  max-height: 60px;
  min-height: 60px;
  border-radius: 10px;
  padding: 5px;
}

#creatorUser:hover{
  color: #7F8FB9;
  cursor: pointer;
}

#creatorUser2:hover{
  color: #7F8FB9;
  cursor: pointer;
}

