<!--<button *ngIf="!account" (click)="onLoginClick()">Login</button>-->
<!--<button *ngIf="account" (click)="onLogoutClick()">Sign out</button>-->
<!--<button (click)="onClickCheck()">Check</button>-->
<!--<button *ngIf="account && !creatingBlog && !viewingBlog && !viewUsers && !viewingChats" (click)="onCreateBlogClick()">Create Blog</button>-->
<!--<button *ngIf="!viewUsers && !creatingBlog && !viewingBlog && !viewingChats" (click)="onUsersClick()">Users</button>-->
<!--<button *ngIf="account && !viewingChats && !viewUsers && !creatingBlog && !viewingBlog" (click)="onChatsClick()">Chats</button>-->



<!--<div>-->
<!--  <app-blog-list></app-blog-list>-->
<!--</div>-->
<!--<mat-grid-list cols="2" rowHeight="1:1">-->
<!--  <mat-grid-tile id="sidebar">1</mat-grid-tile>-->
<!--  <mat-grid-tile>2</mat-grid-tile>-->
<!--</mat-grid-list>-->
<!--<div *ngIf="!viewingChats">-->
<!--  <div *ngIf="!viewUsers">-->
<!--    <div *ngIf="!creatingBlog">-->
<!--      <div *ngIf="!viewingBlog">-->
<!--        <app-blog-list></app-blog-list>-->
<!--      </div>-->
<!--      <div *ngIf="viewingBlog">-->
<!--        <app-blog></app-blog>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div *ngIf="creatingBlog && account">-->
<!--      <app-create-blog></app-create-blog>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div *ngIf="viewUsers">-->
<!--    <app-accounts-list></app-accounts-list>-->
<!--  </div>-->
<!--</div>-->

<!--<div *ngIf="viewingChats">-->
<!--  <app-chat-list></app-chat-list>-->
<!--</div>-->
<mat-sidenav-container class="homepage-container">
  <mat-sidenav class="sidebar" mode="side" opened>
<!--    <div (click)="onClickCheck()">Check</div>-->
    <div class="profile-box">
      <button id="signIn-button" mat-raised-button color="primary" *ngIf="!account" (click)="onLoginClick()">Sign In</button>
      <div *ngIf="account">

        <h1>
          @{{account.username}}
        </h1>
        <button id="profile-button" mat-flat-button color="primary">View Profile</button>
      </div>
    </div>
    <div class="createBlog-button" *ngIf="account && !creatingBlog && !viewingBlog && !viewUsers && !viewingChats" (click)="onCreateBlogClick()">
    <div class="sideButtons"> <mat-icon class="sideIcons">create</mat-icon>Create Blog</div>
    </div>
    <div class="users-button" *ngIf="!viewUsers && !creatingBlog && !viewingBlog && !viewingChats" (click)="onUsersClick()">
      <div class="sideButtons"> <mat-icon class="sideIcons">people</mat-icon>Users</div>
    </div>
    <div class="chats-button" *ngIf="account && !viewingChats && !viewUsers && !creatingBlog && !viewingBlog" (click)="onChatsClick()">
      <div class="sideButtons"> <mat-icon class="sideIcons">local_post_office</mat-icon> Chats</div>
    </div>
    <div class="signOut" *ngIf="account" (click)="onLogoutClick()">
      <div class="sideButtons"><mat-icon class="sideIcons">exit_to_app</mat-icon>Sign out</div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="mainContent">
    <div *ngIf="!viewingChats">
      <div *ngIf="!viewUsers">
        <div *ngIf="!creatingBlog">
          <div *ngIf="!viewingBlog">
  <!--          <div class="blogSearch">-->
  <!--            <div class="blogSearchComp">-->
  <!--              <div id="searchBar">-->
  <!--                <input id="searchBox" placeholder="search">-->
  <!--              </div>-->
  <!--              <div>-->
  <!--                <button *ngIf="!account" mat-raised-button color="primary" disabled>Create Blog</button>-->
  <!--                <button *ngIf="account" mat-raised-button color="primary" >Create Blog</button>-->
  <!--              </div>-->
  <!--            </div>-->
  <!--          </div>-->

            <app-blog-list></app-blog-list>
          </div>
          <div *ngIf="viewingBlog">
            <app-blog></app-blog>
          </div>
        </div>
        <div *ngIf="creatingBlog && account">
          <app-create-blog></app-create-blog>
        </div>
      </div>

      <div *ngIf="viewUsers">
        <app-accounts-list></app-accounts-list>
      </div>
    </div>

    <div *ngIf="viewingChats" class="chatListStyle">
      <app-chat-list></app-chat-list>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


