<!--<div class="blogSection">-->
<!--  <button (click)="onCancelClick()">Cancel</button>-->
<!--  <button (click)="onCreateClick()">Create</button>-->
<!--  <h1>-->
<!--    <input [(ngModel)]="title">-->
<!--  </h1>-->
<!--  <textarea [(ngModel)]="body"></textarea>-->

<!--</div>-->

<div class="blogSection">

  <button class="editButtons" mat-raised-button (click)="onCancelClick()">Cancel</button>
  <button class="editButtons" mat-raised-button color="primary" (click)="onCreateClick()">Create</button>
  <div class="blogImages">
    <div>

    </div>
  </div>
  <div class="blogHeader">
    <div class="headerContent">
      <h1>
        Title:
        <input maxlength="80" id="titleField" [(ngModel)]="title">
      </h1>
    </div>
  </div>
  <h3>
    Body:
  </h3>
  <div class="blogBody">
    <textarea maxlength="9999" id="bodyField" [(ngModel)]="body"></textarea>
  </div>
</div>
